.background{
    -fx-background-image: url("../images/home_background.png");
    -fx-background-size: stretch, auto;
}

.cloud-background{
    -fx-background-image: url("../images/cloud_background.png");
    -fx-background-size: stretch, auto;
}

.btn,
.btn-white,
.btn-blue,
.btn-orange {
    -fx-background-radius: 12px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
    -fx-cursor: HAND;
}

.btn-white {
    -fx-background-color: #ffff;
    -fx-text-fill: #517dff;
}

.btn-white:hover,
.btn-white:pressed{
    -fx-background-color: #e5e5e5;
}

.btn-blue {
    -fx-background-color: #184ff3;
    -fx-text-fill: #ffffff;
}

.btn-blue:hover,
.btn-blue:pressed{
    -fx-background-color: #517dff;
}

.btn-orange {
    -fx-background-color: #fa790f;
    -fx-text-fill: #ffffff;
}

.btn-orange:hover,
.btn-orange:pressed{
    -fx-background-color: #d56100;
}

.rectangle{
    -fx-border-color: linear-gradient(rgba(10,100,255,1.0),rgba(255,255,255,1.0));
    -fx-border-width: 5;
    -fx-border-radius: 10px;
    -fx-background-radius: 12px;
    -fx-background-color: rgba(131,186,285,0.8);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.blur {
    -fx-background-color: rgba(0,0,0,0.3);
}

.blur-2 {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
    -fx-background-radius: 15px;
}

.image-btn {
    -fx-cursor: HAND;
}

.image-btn:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(2, 0, 0, 0.6), 10, 0, 0, 0);
}

.game-list-view {
    -fx-padding: 5px;
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(255,255,255,0.6);
}

.game-list-view .list-cell {
    -fx-cursor: HAND;
    -fx-background-color: transparent, white;
    -fx-background-radius: 0, 10px;
    -fx-background-insets: 0, 3px ;
}


.game-list-view .list-cell:selected,
.game-list-view .list-cell:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(1, 43, 84, 0.6), 10, 0, 0, 0);
}

.game-list-view .list-cell:empty {
    -fx-cursor: DEFAULT;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(84, 153, 241);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: rgb(30, 90, 218);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.game-list-view .scroll-bar:horizontal .increment-arrow,
.game-list-view .scroll-bar:horizontal .decrement-arrow,
.game-list-view .scroll-bar:horizontal .increment-button,
.game-list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

.setting-list-view {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.setting-list-view .list-cell {
    -fx-cursor: HAND;
    -fx-padding: 15px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.setting-list-view .list-cell:disabled {
    -fx-opacity: 0.3;
}

.setting-list-view .list-cell:selected,
.setting-list-view .list-cell:hover,
.student-select{
    -fx-effect: dropshadow(three-pass-box, rgba(1, 43, 84, 0.6), 15, 0.5, 0, 0);
}

.setting-list-view .list-cell:empty {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.setting-list-view .list-cell .text {
    -fx-font-family: Arial;
    -fx-font-size: 20px;
    -fx-fill: rgb(30, 90, 218);
}

.setting-list-view .list-cell:selected .text,
.setting-list-view .list-cell:hover .text {
    -fx-fill: white;
}

.tower-list-background {
    -fx-background-radius: 10px;
    -fx-background-color: rgba(255,255,255,0.6);
}

.student-green-background{
    -fx-background-image: url("../images/student_green.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.student-red-background{
    -fx-background-image: url("../images/student_red.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.student-purple-background{
    -fx-background-image: url("../images/student_purple.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.student-yellow-background{
    -fx-background-image: url("../images/student_yellow.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.student-blue-background{
    -fx-background-image: url("../images/student_blue.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.teacher-green-background{
    -fx-background-image: url("../images/teacher_green.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.teacher-red-background{
    -fx-background-image: url("../images/teacher_red.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.teacher-purple-background{
    -fx-background-image: url("../images/teacher_purple.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.teacher-yellow-background{
    -fx-background-image: url("../images/teacher_yellow.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.teacher-blue-background{
    -fx-background-image: url("../images/teacher_blue.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.mother-nature-background{
    -fx-background-image: url("../images/mother_nature.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.tower-black-background{
    -fx-background-image: url("../images/tower_black.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.tower-white-background{
    -fx-background-image: url("../images/tower_white.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.tower-grey-background{
    -fx-background-image: url("../images/tower_grey.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.message-text-background,
.bottom-background,
.dashboard-bottom-background,
.buttons-bottom-background,
.dashboard-other-players-background {
    -fx-background-color: rgba(30, 90, 218, 0.4);
}

.message-text-background {
    -fx-background-radius: 0 0 15px 15px;
    -fx-border-radius: 0 0 15px 15px;
}

.bottom-background {
    -fx-background-radius: 15px 15px 0 0;
    -fx-border-radius: 15px 15px 0 0;
}

.buttons-bottom-background {
    -fx-background-radius: 0 15px 0 0;
    -fx-border-radius: 0 15px 0 0;
}

.dashboard-bottom-background {
    -fx-background-radius: 15px 0 0 0;
    -fx-border-radius: 15px 0 0 0;
}

.dashboard-other-players-background {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

.island-1 {
    -fx-background-image: url("../images/island1.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.island-2 {
    -fx-background-image: url("../images/island2.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.island-3 {
    -fx-background-image: url("../images/island3.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.islands-grid {
    -fx-grid-lines-visible: false;
    -fx-padding: 10px;
}

.board-background {
    -fx-background-image: url("../images/board.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.assistant-1 {
    -fx-background-image: url("../images/assistant_1.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.assistant-2 {
    -fx-background-image: url("../images/assistant_2.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.assistant-3 {
    -fx-background-image: url("../images/assistant_3.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.assistant-4 {
    -fx-background-image: url("../images/assistant_4.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.assistant-5 {
    -fx-background-image: url("../images/assistant_5.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.assistant-6 {
    -fx-background-image: url("../images/assistant_6.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.assistant-7 {
    -fx-background-image: url("../images/assistant_7.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.assistant-8 {
    -fx-background-image: url("../images/assistant_8.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.assistant-9 {
    -fx-background-image: url("../images/assistant_9.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.assistant-10 {
    -fx-background-image: url("../images/assistant_10.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.assistant-already-played {
    -fx-background-color: rgba(255,255,255,0.6);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.assistant-not-available {
    -fx-background-color: rgba(250, 238, 186, 0.6);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.assistant-message-text {
    -fx-padding: 5px 10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(1, 43, 84, 0.6);
}

.island-hover,
.island-clickable-hover:hover,
.character-card-hover:hover,
.assistant-1:hover,
.assistant-2:hover,
.assistant-3:hover,
.assistant-4:hover,
.assistant-5:hover,
.assistant-6:hover,
.assistant-7:hover,
.assistant-8:hover,
.assistant-9:hover,
.assistant-10:hover,
.assistant-selected {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(1, 43, 84, 0.6), 15, 0.5, 0, 0);
}

.student-hover:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgb(211, 237, 255), 15, 0.5, 0, 0);
}

.dining-room-hover {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgba(1, 43, 84, 0.4);
}

.cloud {
    -fx-background-image: url("../images/cloud.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-card-frame {
    -fx-background-image: url("../images/character_card_frame.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-1 {
    -fx-background-image: url("../images/character_1.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-2 {
    -fx-background-image: url("../images/character_2.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-3 {
    -fx-background-image: url("../images/character_3.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-4 {
    -fx-background-image: url("../images/character_4.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-5 {
    -fx-background-image: url("../images/character_5.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-6 {
    -fx-background-image: url("../images/character_6.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-7 {
    -fx-background-image: url("../images/character_7.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-8 {
    -fx-background-image: url("../images/character_8.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-9 {
    -fx-background-image: url("../images/character_9.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-10 {
    -fx-background-image: url("../images/character_10.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-11 {
    -fx-background-image: url("../images/character_11.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.character-12 {
    -fx-background-image: url("../images/character_12.jpg");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.no-tile {
    -fx-background-image: url("../images/no_tile.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.swap-area-piece-background {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}